<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!--代码扫描包中带有@Controller注解的控制层类-->
	<context:component-scan base-package="com.mysupermarket.login.controller"/>
	<context:component-scan base-package="com.mysupermarket.gooddata.controller"/>
	<context:component-scan base-package="com.mysupermarket.evaluate.controller"/>
	<context:component-scan base-package="com.mysupermarket.order.controller"/>
	<context:component-scan base-package="com.mysupermarket.goodmanage.controller"/>
	
	<!--代码对控制层进行事务代理AOP支持-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- 声明文件上传请求 -->
	<bean id = "multipartResolver" class = "org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

</beans>