<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!--扫描dao层和service层的包-->
	<context:component-scan base-package="com.mysupermarket.login.service"/>
	<context:component-scan base-package="com.mysupermarket.login.dao"/>
	
	<context:component-scan base-package="com.mysupermarket.gooddata.service"/>
	<context:component-scan base-package="com.mysupermarket.gooddata.dao"/>
	
	<context:component-scan base-package="com.mysupermarket.evaluate.service"/>
	<context:component-scan base-package="com.mysupermarket.evaluate.dao"/>
	
	<context:component-scan base-package="com.mysupermarket.order.service"/>
	<context:component-scan base-package="com.mysupermarket.order.dao"/>
	
	<!-- 配置数据源 -->
	  <bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
		  <property name = "driverClassName">
		  <value>com.mysql.jdbc.Driver</value>
		  </property>
		  <property name = "url">
		  <value>jdbc:mysql://localhost/mysupermarket</value>
		  </property>
		  <property name = "username">
		  <value>root</value>
		  </property>
		  <property name = "password">
		  <value>806517wh</value>
		  </property>
	  </bean>

	  <!-- 配置会话工厂 -->
	  <bean id = "sqlSessionFactory" class = "org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" ref = "dataSource"/>
	  </bean>

	  <!-- 配置映射接口位置 -->
	  <bean class = "org.mybatis.spring.mapper.MapperScannerConfigurer">
		  <!--扫描com.mysupermarket.mapper下面的所有接口, 创建接口的动态代理-->
		  <property name="basePackage" value = "com.mysupermarket.mapper"/>
		  <property name="sqlSessionFactory" ref = "sqlSessionFactory"/>
	  </bean>

	  <!-- 将DataSource关联到事务管理功能 -->
	  <bean id= "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  	<property name = "dataSource" ref = "dataSource"/>
	  </bean>
	  <tx:annotation-driven transaction-manager="transactionManager"/>

	
</beans>